PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>

# must be a neater way
INSERT DATA { <{{uri}}> schema:datePublished "dummy date" } ;

DELETE { <{{uri}}> schema:datePublished ?published }
INSERT { <{{uri}}> schema:datePublished "{{published}}" }
WHERE  { <{{uri}}> schema:datePublished ?published }
